<div class="container">
    <br>
    <!--  <form class="form-inline">
          <div class="form-group mx-sm-3 mb-2 mt-2 ">
          <label>Nom formation</label>
          <input class="form-control" #searchTerm (keyup)="onKeyUp(searchTerm.value)">
          </div>
          </form> -->
    <form class="form-inline">
        <div class="form-group mx-sm-3 mb-2 mt-2 ">
            <label>Nom Université en tapant</label>
            <input #nom #searchTerm name="searchTerm" class="form-control" (keyup)="onKeyUp(searchTerm.value)">
        </div>
    </form>
        
    <br>
    <div class="card shadow mb-4">
        <div class="card-body">
            <table class="table table-striped">
                <tr> 
                    <th>Id</th>
                    <th>Nom</th> 
                    <th>Adresse</th> 
                    <th>Date Création</th>
                    <th>Nombre des étudiants</th> 
                    <th>Domaines</th>
                </tr>
                <tbody *ngFor="let universite of universites">
                    <tr>
                        <td>{{universite.idUni}}</td>
                        <td>{{universite.nomUni}}</td>
                        <td>{{universite.adresseUni}}</td>
                        <td>{{universite.dateCreation | date :'dd/MM/yyyy'}}</td>
                        <td>{{universite.numberEtudiants}}</td>
                        <td>{{universite.domaine.nomDom}}</td>
                        <!--<td><a class="btn btn-danger" (click)="supprimeruniversite(universite)">Supprimer</a></td>-->
                        <td><a *ngIf="authService.isAdmin()" class="btn btn-success" [routerLink]="['/updateuniversite',universite.idUni]">Modifier</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
    